@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scroll-snap-type: x mandatory; /* Optional: for snapping behavior */
  overscroll-behavior-x: contain; /* Prevent scroll chaining */
} 

.scroll-container > * {
  scroll-snap-align: start;
  user-select: none; /* Prevent text selection during swipe */
}

.scroll-container > * {
  pointer-events: none; /* Allow touch events to pass to container */
}

.scale-animation {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}